In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

In [2]:
custumer=pd.read_csv('C:\\Users\\sadra\\Desktop\\Notebook\\Churn_Modelling.csv')

In [4]:
custumer.head(6)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1

In [5]:
x=custumer.iloc[:,3:-1]
y=custumer.iloc[:,-1]

In [6]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [7]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [8]:
x=x.values
y=y.values

In [9]:
x

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [10]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()

In [13]:
x[:,2]=le.fit_transform(x[:,2])

In [14]:
x

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

In [15]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [16]:
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough')

In [17]:
ct.fit_transform(x)

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [18]:
x=ct.transform(x)

In [19]:
x

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [20]:
x

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [23]:
y_test

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [24]:
x_test

array([[0.0, 1.0, 0.0, ..., 1, 1, 192852.67],
       [1.0, 0.0, 0.0, ..., 1, 0, 128702.1],
       [0.0, 0.0, 1.0, ..., 1, 1, 75732.25],
       ...,
       [0.0, 0.0, 1.0, ..., 1, 0, 141533.19],
       [0.0, 1.0, 0.0, ..., 1, 1, 11276.48],
       [0.0, 1.0, 0.0, ..., 1, 0, 192950.6]], dtype=object)

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
sc=StandardScaler()

In [27]:
x_train

array([[0.0, 0.0, 1.0, ..., 1, 0, 163830.64],
       [0.0, 1.0, 0.0, ..., 1, 1, 57098.0],
       [1.0, 0.0, 0.0, ..., 1, 0, 185630.76],
       ...,
       [1.0, 0.0, 0.0, ..., 1, 0, 181429.87],
       [0.0, 0.0, 1.0, ..., 1, 1, 148750.16],
       [0.0, 1.0, 0.0, ..., 1, 0, 118855.26]], dtype=object)

In [28]:
sc.fit_transform(x_train)

array([[-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [29]:
x_train=sc.fit_transform(x_train)

In [30]:
x_test=sc.fit_transform(x_test)

In [31]:
ann=tf.keras.models.Sequential()

In [32]:
ann.add(tf.keras.layers.Dense(units=35,activation='relu'))
ann.add(tf.keras.layers.Dense(units=35,activation='relu'))
ann.add(tf.keras.layers.Dense(units=64,activation='relu'))
ann.add(tf.keras.layers.Dense(units=128,activation='relu'))

In [33]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

In [34]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [35]:
ann.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 3s 5ms/step - loss: 0.4409 - accuracy: 0.8114
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3598 - accuracy: 0.8499
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3464 - accuracy: 0.8566
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3382 - accuracy: 0.8615
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3324 - accuracy: 0.8635
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3279 - accuracy: 0.8649
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3229 - accuracy: 0.8676
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3201 - accuracy: 0.8685
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3170 - accuracy: 0.8691
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3127 - accuracy: 0.8691
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3079 - accuracy: 0.8725
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3043 - accuracy: 0.8735
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3023 - accuracy: 0.8755
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2975 - accuracy: 0.8764
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2944 - accuracy: 0.8791
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2921 - accuracy: 0.8798
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2874 - accuracy: 0.8792
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2836 - accuracy: 0.8852
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2810 - accuracy: 0.8825
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2772 - accuracy: 0.8831
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2729 - accuracy: 0.8845
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2701 - accuracy: 0.8904
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2645 - accuracy: 0.8894
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2646 - accuracy: 0.8913
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2602 - accuracy: 0.8905
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2575 - accuracy: 0.8938
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2504 - accuracy: 0.8954
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2493 - accuracy: 0.8982
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2475 - accuracy: 0.8988
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2449 - accuracy: 0.8992
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2397 - accuracy: 0.9005
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2370 - accuracy: 0.9026
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2347 - accuracy: 0.9041
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2298 - accuracy: 0.9071
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2297 - accuracy: 0.9031
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2252 - accuracy: 0.9069
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2229 - accuracy: 0.9087
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2186 - accuracy: 0.9074
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2153 - accuracy: 0.9089
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2113 - accuracy: 0.9140
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2113 - accuracy: 0.9134
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2046 - accuracy: 0.9147
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2013 - accuracy: 0.9171
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1980 - accuracy: 0.9151
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1957 - accuracy: 0.9185
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1944 - accuracy: 0.9184
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1906 - accuracy: 0.9201
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1834 - accuracy: 0.9254
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1842 - accuracy: 0.9225
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1789 - accuracy: 0.9247
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1747 - accuracy: 0.9277
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1779 - accuracy: 0.9249
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1698 - accuracy: 0.9298
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1633 - accuracy: 0.9319
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1630 - accuracy: 0.9320
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1643 - accuracy: 0.9301
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1709 - accuracy: 0.9277
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1514 - accuracy: 0.9374
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1543 - accuracy: 0.9359
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1502 - accuracy: 0.9365
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1494 - accuracy: 0.9360
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1452 - accuracy: 0.9402
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1470 - accuracy: 0.9381
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1356 - accuracy: 0.9426
Epoch 65/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1410 - accuracy: 0.9435
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1332 - accuracy: 0.9475
Epoch 67/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1309 - accuracy: 0.9450
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1305 - accuracy: 0.9471
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1299 - accuracy: 0.9474
Epoch 70/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1228 - accuracy: 0.9521
Epoch 71/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1275 - accuracy: 0.9492
Epoch 72/100
250/250 [==============================] - 1s 5ms/step - loss: 0.1245 - accuracy: 0.9484
Epoch 73/100
250/250 [==============================] - 1s 5ms/step - loss: 0.1196 - accuracy: 0.9499
Epoch 74/100
250/250 [==============================] - 1s 5ms/step - loss: 0.1171 - accuracy: 0.9521
Epoch 75/100
250/250 [==============================] - 1s 6ms/step - loss: 0.1147 - accuracy: 0.9507
Epoch 76/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1173 - accuracy: 0.9513
Epoch 77/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1106 - accuracy: 0.9544
Epoch 78/100
250/250 [==============================] - 1s 5ms/step - loss: 0.1082 - accuracy: 0.9557
Epoch 79/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1077 - accuracy: 0.9539
Epoch 80/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0986 - accuracy: 0.9611
Epoch 81/100

250/250 [==============================] - 1s 4ms/step - loss: 0.1090 - accuracy: 0.9554
Epoch 82/100
250/250 [==============================] - 1s 5ms/step - loss: 0.1079 - accuracy: 0.9569
Epoch 83/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0953 - accuracy: 0.9620
Epoch 84/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0991 - accuracy: 0.9599
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1043 - accuracy: 0.9565
Epoch 86/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1058 - accuracy: 0.9559
Epoch 87/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0813 - accuracy: 0.9710
Epoch 88/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0793 - accuracy: 0.9699
Epoch 89/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1033 - accuracy: 0.9592
Epoch 90/100
250/250 [==============================] - 1s 4ms/step - loss: 0.1031 - accuracy: 0.9582
Epoch 91/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0825 - accuracy: 0.9693
Epoch 92/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0751 - accuracy: 0.9710
Epoch 93/100
250/250 [==============================] - 1s 5ms/step - loss: 0.0834 - accuracy: 0.9678
Epoch 94/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0825 - accuracy: 0.9666
Epoch 95/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0892 - accuracy: 0.9650
Epoch 96/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0684 - accuracy: 0.9756
Epoch 97/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0679 - accuracy: 0.9731
Epoch 98/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0746 - accuracy: 0.9720
Epoch 99/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0849 - accuracy: 0.9666
Epoch 100/100
250/250 [==============================] - 1s 4ms/step - loss: 0.0753 - accuracy: 0.9705